@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Play&display=swap');

/* Europe fonts */
@font-face {
  font-family: 'Proxima-Regular';
  src: url('./fonts/ProximaNova/ProximaNova-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Proxima-Semibold';
  src: url('./fonts/ProximaNova/ProximaNova-Semibold.ttf') format('woff2');
}

@font-face {
  font-family: 'Proxima-Bold';
  src: url('./fonts/ProximaNova/ProximaNova-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./fonts/ProximaNova/ProximaNova-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('./fonts/ProximaNova/ProximaNova-Light.ttf') format('woff2');
}

/* China fonts */

@font-face {
  font-family: 'SimSun';
  src: url('./fonts/China/SimSun.ttf') format('woff2');
}

@font-face {
  font-family: 'SimSunB';
  src: url('./fonts/China/SimSunB.ttf') format('woff2');
}

@font-face {
  font-family: 'Gulim';
  src: url('./fonts/China/Gulim.ttf') format('woff2');
}

@font-face {
  font-family: 'Sazanami-Mincho';
  src: url('./fonts/China/Sazanami-Mincho.ttf') format('woff2');
}


.font-ru {
  font-family: 'ProximaNova-Light', 'Noto Sans', 'Open Sans';
}

.font-en {
  font-family: 'ProximaNova-Light', 'Noto Sans', 'Open Sans';
}

.font-zh {
  font-family: 'SimSun', 'SimSunB', 'Noto Sans', 'Open Sans';
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #202020;
}

::-webkit-scrollbar-thumb {
  background-color: #2A72A9;
  border-radius: 6px;
  box-shadow: inset 1px 1px 10px #2A72A9;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2A72A9;
}


.page-enter-active,
.page-leave-active {
  transition: all 0.15s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  /* filter: blur(0.1rem); */
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}


.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}





.right-enter-active,
.right-leave-active {
  transition: opacity 0.5s ease;
}

.right-enter-from,
.right-leave-to {
  opacity: 0;
}


/*
  Enter and leave animations can use different
  durations and timing functions.
*/
.slide-fade-enter-active {
  transition: all 0.4s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}



.cut-corners {
  clip-path: polygon(10px 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 10px, 10px 0);
}

::selection {
  background: #0369a1;
  color: #fff;
 }